.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Universal */
.btn-primary{
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 300px;
    padding: 10px 60.5px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    width: 197px;
    height: 50px;
}
.btn-secondary{
    background-color: #111111;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 47px;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    width: 197px;
    height: 50px;
}
.display-flex{
    display: flex;
}
ul{
    justify-content: space-around;
}
ul li{
    list-style: none;
    margin-right: 50px;
}

#orange-color{
    color: #FEA301;
}
#black-color{
    color: #111111;
}
#sky-blue{
    color: #01ACFD;
}
#white-color{
    color: #FFFFFF;
}
p{
    font-size: 20px;
    font-weight: 100;
    margin: 24px auto;
}
#kinder-img{
    padding-left: 115.5px;
    padding-top: 52.82px;
    padding-bottom: 32.07;
}
h4{
    padding-left: 78.57px;
    font-size: 24.52px;
    font-weight: bold;
}
.body-para{
    padding-left: 40.88px;
    padding-top: 33.48px;
    color: #808080;
    flex-wrap: wrap;
}
h6{
    font-size: 15.09px;
    font-weight: bold;
    margin-left: 132.46px;
}
#purple-color{
    color: #8700FF;
}
.grad-skb{
    background-image: linear-gradient(to bottom, #DEF5FF , white);
}
.grad-orange{
    background-image: linear-gradient(to bottom, #FFF4DC, white);
}
.grad-purple{
    background-image: linear-gradient(to bottom, #EEE1FF, white);
}
.left-right-button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 300px;
    font-size: 20px;
    border: none;
}

/* NAVBAR */
.navbar{
    
}
.nav-bar{
    /* gap: 186px; */
    width: 1158.61px;
    align-items: center;
    margin-left: 145px;
    border: 3px solid green;
    justify-content: space-between;
}
.navbar-things{
    font-size: 20px;
    font-weight: 500;
}
/* Header */
.header-container{
    border: 3px solid green;
    width: 1158.61px;
    margin-left: 145px;
}
.heading{
    width: 1158.61px;
    height: 575px;
    border: 3px solid red;
}
.heading-title{
    font-size: 56px;
    font-weight: bold;
    margin-top: 122px;
    margin-bottom: 24px;
}
/* BODY */
.body{
    background-image: ;
}
.Standard-curriculum-container{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 18.86px;
    width: 367.8px;
    height: 518.78px;
}
.box-container{
    gap: 28.29px;
    border: 3px solid purple;
}
.standard-curriculum{
    border: 3px solid pink;
    width: 1158.61px;
    margin-left: 145px;
}
.st{
    border: 3px solid yellow;
    width: 1158.61px;
    margin-left: 145px;
}
.btn-pos{
    margin-left: 655px;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* Footer */
.footer-bg{
    border: 3px solid black;
    background-color: #01ACFD;
    width: 1439px;
    height: 519px;
}
.footer-part{
    margin-top: 123px;
    margin-left: 140px;
    margin-right: 228px;
    justify-content: space-between;
    border: 3px solid yellow;
}
.ul-footer{
    margin-bottom: 20px;
}
.footer-img-title{
    display: flex;
}
.footer-img{
    width: 83px;
    height: 82px;
}
#footer-title{
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}